@model Exercises.Models.ViewModels.StudentVM

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <div class="col-xs-12 col-sm-3">
        @Html.Partial("StudentNav")
    </div>
    <div class="col-xs-12">
        <div class="row">
            <div class="col-xs-12">
                <h3>Edit Student</h3>
                @Html.ValidationSummary()
                @using (Html.BeginForm("Edit", "Student", FormMethod.Post))
                {
                    <div class="left">
                        <div class="row">
                            @Html.HiddenFor(m => m.Student.StudentId)
                            <div class="col-xs-10">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">Personal Details</h4>
                                    </div>
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <label>First Name:</label>
                                            <br />@Html.ValidationMessageFor(m => m.Student.FirstName)
                                            @Html.TextBoxFor(m => m.Student.FirstName, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Last Name:</label>
                                            <br />@Html.ValidationMessageFor(m => m.Student.LastName)
                                            @Html.TextBoxFor(m => m.Student.LastName, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Major:</label>
                                            <br />@Html.DropDownListFor(m => m.Student.Major.MajorId, Model.MajorItems, "-Choose One-", new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>GPA:</label>
                                            <br />@Html.ValidationMessageFor(m => m.Student.GPA)
                                            @Html.TextBoxFor(m => m.Student.GPA, new { @class = "form-control" })
                                        </div>
                                        <h4>Courses</h4>
                                        <div class="form-group">
                                            @for (int i = 0; i < Model.CoursesCheckBoxes.Count; i++)
                                            {
                                                <p>
                                                    @Html.CheckBoxFor(m => m.CoursesCheckBoxes[i].IsSelected)
                                                    <span>@Model.CoursesCheckBoxes[i].Course.CourseName</span>
                                                    @Html.HiddenFor(m => m.CoursesCheckBoxes[i].Course.CourseId)
                                                </p>
                                            }
                                        </div>
                                        <button class="btn btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right">
                        <div class="row">
                            @Html.HiddenFor(m => m.Student.StudentId)
                            @Html.HiddenFor(m => m.Student.Address.State.StateAbbreviation)
                            <div class="col-xs-10">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">Address</h4>
                                    </div>
                                    <div class="panel-body">
                                        <h4>Address</h4>
                                        <div class="form-group">
                                            <label>Street 1</label>
                                            @Html.TextBoxFor(m => m.Student.Address.Street1, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Street 2</label>
                                            @Html.TextBoxFor(m => m.Student.Address.Street2, new { @class = "form-control", placeholder = "Optional" })
                                        </div>
                                        <div class="form-group">
                                            <label>City</label>
                                            @Html.TextBoxFor(m => m.Student.Address.City, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>State</label>
                                            <br />@Html.DropDownListFor(m => m.Student.Address.State.StateAbbreviation, Model.StateItems, "-Choose One-", new { @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <label>Zip Code</label>
                                            @Html.TextBoxFor(m => m.Student.Address.PostalCode, new { @class = "form-control", placeholder = "ex. 11111" })

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


